<h1>Items</h1>

<table>
  <tr>
    <th>Picture</th>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% for item in @items %>
  <tr>
    <td><%= image_tag(item.picture.url) %></td>
    <td><%=h item.title %></td>
    <td><%=h item.description %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item', new_item_path %>
