<% title "Item List" %>
<h1>Items</h1>

<table width=470>
  <tr>
    <th width=100>Picture</th>
    <th width=300>Title</th>
  </tr>

<% for item in @items %>
  <tr>
    <td width=100><%= image_tag(item.picture.url) %></td>
    <td width=300><%= item.title %></td>
    <td width=25><%= link_to 'Show', item %></td>
    <td width=25><%= link_to 'Edit', edit_item_path(item) %></td>
    <td width=25><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @items %>
<br />


<%= link_to 'New item', new_item_path %>
